<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY APP</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.6.4.min.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1><a href="/">LOGO</a></h1>
        <ul class="nav" th:if="${session.loggedMember!=null}">
          <li class="nav-item">
            <a class="nav-link" href="/member/info" th:text="${session.loggedMember.userName}"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member/logout">LOG OUT</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/board/list">BOARD</a>
          </li>
        </ul>
        <ul class="nav" th:unless="${session.loggedMember!=null}">
          <li class="nav-item">
            <a class="nav-link" href="/member/join">JOIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member/login">LOGIN</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">BOARD</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/board/list">자유게시판</a>
              <a class="dropdown-item" href="/board/imagelist">이미지게시판</a>
              <!-- Add more dropdown links as needed -->
            </div>
          </li>
        </ul>
      </div>
    </header>

    <main class="main">
      <!-- 여기에 공통요소를 제외한 나머지 것들 가져다 쓰기.... -->
      <div class="contents" layout:fragment="contents"></div>
    </main>

    <footer class="footer">
      <p>footer</p>
    </footer>
  </body>
</html>