<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>HOME</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <!-- 여기서 부터 달라지는 내용 -->
        <h2>BOARD WRITE</h2>
        <form action="/board/imagewrite" th:object="${boardDto}" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">USER NAME</label>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="이름를 입력해 주세요." aria-label="username" aria-describedby="button-addon2" id="userName" name="userName" 
                     th:value="${#httpSession.getAttribute('loggedMember') != null ? #httpSession.getAttribute('loggedMember').userName : '로그인을 해주세요.'}" />
            </div>
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error">에러 메세지 출력</p>
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">TITLE</label>
            <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="제목을 입력해 주세요." name="title" th:value="${boardDto.title}" />
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">에러 메세지 출력</p>
          </div>
          
          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">USER PW</label>
            <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="USER PASSWORD" name="userPw" th:value="${boardDto.userPw}" />
            <p th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="error">에러 메세지 출력</p>
          </div>
        
          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">UPLOAD IMAGE</label>
            <input type="file" class="form-control" id="exampleFormControlInput3" name="imageUrl" accept="image/*" />
            <p th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="error">에러 메세지 출력</p>
          </div>
        
          <div class="text-center">
            <button class="btn btn-primary">WRITE</button>
            <button class="btn btn-secondary" type="reset">RESET</button>
          </div>
        </form>
        

       
      </div>
    </div>
  </body>
</html>