<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>HOME</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <!-- 여기서 부터 달라지는 내용 -->
        <h2>MEMBER INFO</h2>
        <table class="table">
          <colgroup>
            <col class="th" />
            <col class="td" />
          </colgroup>
          <tbody>
            <tr>
              <th scope="row">ID</th>
              <td th:text="${session.loggedMember.userId}"></td>
            </tr>
            <tr>
              <th scope="row">USER NAME</th>
              <td th:text="${session.loggedMember.userName}"></td>
            </tr>

            <tr>
              <th scope="row">USER EMAIL</th>
              <td th:text="${session.loggedMember.userEmail}"></td>
            </tr>
            <tr>
              <th scope="row">USER ZIPCODE</th>
              <td th:text="${session.loggedMember.userZipcode}"></td>
            </tr>
            <tr>
              <th scope="row">ADDRESS</th>
              <td th:text="${session.loggedMember.userAddr}"></td>
            </tr>
          </tbody>
        </table>
        <div class="btns text-center mt-5">
          <a href="/member/modify" class="btn btn-primary">정보 수정</a>
          <a href="/member/delete" class="btn btn-secondary">회원 탈퇴</a>
        </div>
      </div>

    </div>
  </body>
</html>