<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>HOME</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <!-- 여기서 부터 달라지는 내용 -->
        <h2>MEMBER JOIN</h2>
        <form action="/member/join" th:object="${memberDto}" method="post">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">USER ID</label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="id를 입력해 주세요." aria-label="Recipient's username" aria-describedby="button-addon2" id="userId" name="userId" th:value="${memberDto.userId}" />
              <button class="btn btn-secondary" type="button" id="btnIdCheck">ID 확인</button>
            </div>
            <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="error">에러 메세지 출력</p>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">USER PW</label>
            <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="USER PASSWORD" name="userPw" th:value="${memberDto.userPw}" />
            <p th:if="${#fields.hasErrors('userPw')}" th:errors="*{userPw}" class="error">에러 메세지 출력</p>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput5" class="form-label">USER NAME</label>
            <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="USER NAME" name="userName" th:value="${memberDto.userName}" />
            <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error">에러 메세지 출력</p>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="name@example.com" name="userEmail" th:value="${memberDto.userEmail}" />
            <p th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}" class="error">에러 메세지 출력</p>
          </div>
          <div class="mb-3 input-group">
            <input type="text" class="form-control" id="zipCode" placeholder="ZIPCODE" name="zipcode" readonly />
            <button class="btn btn-info" type="button" id="btnZipcode">우편번호</button>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">ADDRESS</label>
            <input type="text" class="form-control" id="address" placeholder="ADDRESS" name="userAddr" readonly />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput4" class="form-label">ADDRESS ETC</label>
            <input type="text" class="form-control" id="addressEtc" placeholder="ADDRESS ETC" name="userAddrEtc" readonly />
          </div>

          <div class="text-center">
            <button class="btn btn-primary">JOIN</button>
            <button class="btn btn-secondary" type="reset">RESET</button>
          </div>
        </form>
      </div>

      <script>
        $("#btnZipcode").on("click", function () {
          showZipcode();
          // form 태그 안의 button은 타입이 기본으로 submit으로 설정된다.
          // 이때 만약 action값으로 데이터르르 전달하지 않으려면 마지막 줄에 return false를 쓰면 된다.
          return false;
        });

        function showZipcode() {
          new daum.Postcode({
            oncomplete: function (data) {
              // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

              // 각 주소의 노출 규칙에 따라 주소를 조합한다.
              // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
              var addr = ""; // 주소 변수
              var extraAddr = ""; // 참고항목 변수

              //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
              if (data.userSelectedType === "R") {
                // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
              } else {
                // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
              }

              // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
              if (data.userSelectedType === "R") {
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== "" && /[동|로|가]$/g.test(data.bname)) {
                  extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== "" && data.apartment === "Y") {
                  extraAddr += extraAddr !== "" ? ", " + data.buildingName : data.buildingName;
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraAddr !== "") {
                  extraAddr = " (" + extraAddr + ")";
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("addressEtc").value = extraAddr;
              } else {
                document.getElementById("addressEtc").value = "";
              }

              // 우편번호와 주소 정보를 해당 필드에 넣는다.
              document.getElementById("zipCode").value = data.zonecode;
              document.getElementById("address").value = addr;
              // 커서를 상세주소 필드로 이동한다.
              document.getElementById("addressEtc").focus();
            },
          }).open();
        }

        $("#btnIdCheck").on("click", function () {
          //alert("id check");
          //ajax
          const sendUserId = $("#userId").val();
          $.ajax({
            url: "/member/idCheck",
            data: { userId: sendUserId },
            type: "post",
            success: function (response) {
              //console.log(response);
              if (response.result > 0) {
                alert("쓸 수 없는 아이디입니다.");
              } else {
                const isConfirm = confirm("사용가능한 아이디입니다. 사용하시겠습니까?");
                if (isConfirm) {
                  $("#userId").attr("readonly", true);
                } else {
                  $("#userId").val("");
                }
              }
            },
            fail: function (err) {
              console.log(err);
            },
            error: function (err) {
              console.log(err);
            },
          });
        });
      </script>
    </div>
  </body>
</html>