<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.thymeleaf.org" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>HOME</title>
  </head>
  <body>
    <div layout:fragment="contents">
      <div class="container">
        <!-- 여기서 부터 달라지는 내용 -->
        <h2>MEMBER LOGIN</h2>
        <form action="/member/login" method="post">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">USER ID</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="USER ID" name="userId" />
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">USER PW</label>
            <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="USER PASSWORD" name="userPw" />
          </div>

          <div class="text-center">
            <button class="btn btn-primary">LOGIN</button>
            <button class="btn btn-secondary" type="reset">RESET</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>